tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorboard==2.11.0
tensorboard-plugin-profile==2.8.0
tensorboard-plugin-wit==1.8.1

# Ces versions sont les minimums compatibles pour TF 2.11
protobuf
gast==0.4.0
numpy>=1.23,<1.25
h5py>=3.7.0,<3.10.0
keras-preprocessing>=1.1.2,<2.0

# Le reste sans pinner trop fort
scipy
pillow
matplotlib
tensorflow-datasets
tensorflow-graphics
tensorflow-probability
tensorflow-metadata
absl-py
google-auth
google-auth-oauthlib
googleapis-common-protos
grpcio
six
opt-einsum
wrapt
termcolor
werkzeug
markdown
typing-extensions
importlib-resources
python-dateutil
requests
requests-oauthlib
rsa
pyasn1
pyasn1-modules
tqdm
cloudpickle
decorator
dill
future
promise
attrs
click
cachetools
certifi
chardet
colorama
cycler
idna
kiwisolver
networkx
oauthlib
openexr
pathspec
pyparsing
regex
toml
trimesh
typed-ast
urllib3
mypy-extensions
gviz-api
appdirs
black
dm-tree
